-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: goldennet
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'Golden Net Biaro','GNET-BIARO','Biaro, Bukittinggi, Sumatera Barat',NULL,NULL,NULL,NULL,1,'2026-08-30 00:25:34.021','2026-08-30 00:25:34.021');
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `coverage_areas`
--

LOCK TABLES `coverage_areas` WRITE;
/*!40000 ALTER TABLE `coverage_areas` DISABLE KEYS */;
INSERT INTO `coverage_areas` VALUES (1,'Biaro','Area layanan Golden Net Biaro.',1,1,'2026-08-30 00:25:34.117','2026-08-30 00:25:34.117'),(2,'Bukittinggi','Area layanan Golden Net Bukittinggi.',1,1,'2026-08-30 00:25:34.128','2026-08-30 00:25:34.128');
/*!40000 ALTER TABLE `coverage_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `internet_packages`
--

LOCK TABLES `internet_packages` WRITE;
/*!40000 ALTER TABLE `internet_packages` DISABLE KEYS */;
INSERT INTO `internet_packages` VALUES (1,'Golden Net 10 Mbps','GNET-10',10,150000.00,'Paket internet 10 Mbps.',0,1,'2026-08-30 00:25:34.050','2026-08-30 00:25:34.050'),(2,'Golden Net 20 Mbps','GNET-20',20,200000.00,'Paket internet 20 Mbps.',1,1,'2026-08-30 00:25:34.068','2026-08-30 00:25:34.068'),(3,'Golden Net 50 Mbps','GNET-50',50,300000.00,'Paket internet 50 Mbps.',0,1,'2026-08-30 00:25:34.086','2026-08-30 00:25:34.086');
/*!40000 ALTER TABLE `internet_packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `registrations`
--

LOCK TABLES `registrations` WRITE;
/*!40000 ALTER TABLE `registrations` DISABLE KEYS */;
INSERT INTO `registrations` VALUES (1,'GNET-REG-20260830-5215','FITRI ANA DAULAY','0987654321','indra@gmail.com','MEDAN PANCING','-','PENDING',NULL,3,1,'2026-08-30 09:05:08.762','2026-08-30 09:05:08.762');
/*!40000 ALTER TABLE `registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `subscriptions`
--

LOCK TABLES `subscriptions` WRITE;
/*!40000 ALTER TABLE `subscriptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscriptions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-31  7:15:05
